*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --密封棕色: #582f0e;
  --赤褐色: #7f4f24;
  --生琥珀色: #936639;
  --狮子: #a68a64;
  --卡其: #b6ad90;
  --鼠尾草: #c2c5aa;
  --绿色: #656d4a;
  --乌木: #414833;
  --黑橄榄: #333d29;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    15deg,
    var(--密封棕色) 15%,
    var(--赤褐色) 85%
  );
}

.导航栏 {
  width: 100%;
  height: 50px;
  /* background-color: var(--密封棕色); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.导航栏-左 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 200px;
  /* background-color: aqua; */
}

.Logo图 {
  height: 75%;
  aspect-ratio: 1;
  /* background-color: rebeccapurple; */
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.标题文字 {
  height: 50%;
  width: 120px;
  font-size: 20px;
  color: #fff;
  font-family: "Shrikhand", serif;
  /* background-color: rebeccapurple; */
}

.导航栏-右 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 750px;
  /* background-color: aqua; */
}

.超链接 {
  z-index: 3;
  position: relative;
  display: flex;
  /* background-color: blueviolet; */
}

.超链接 li {
  list-style: none;
  width: 120px;
  line-height: 40px;
  text-align: center;
}

.超链接 li a {
  color: white;
  text-decoration: none;
}

.滑块 {
  width: 100px;
  height: 40px;
  background-color: var(--密封棕色);
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: -1;
  transition: all ease 0.6s;
  animation: 5s ease-in-out waves infinite;
}
li:nth-child(1):hover ~ .滑块 {
  left: 10px;
}
li:nth-child(2):hover ~ .滑块 {
  left: 128px;
}
li:nth-child(3):hover ~ .滑块 {
  left: 248px;
}
li:nth-child(4):hover ~ .滑块 {
  left: 368px;
}
li:nth-child(5):hover ~ .滑块 {
  left: 488px;
}
li:nth-child(6):hover ~ .滑块 {
  left: 616px;
}

@keyframes waves {
  from {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 4%,
      6% 9%,
      13% 13%,
      23% 15%,
      31% 16%,
      42% 15%,
      49% 13%,
      61% 10%,
      71% 5%,
      81% 3%,
      90% 2%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
  to {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
}

.空 {
  height: 70px;
  width: 100%;
}

.咖啡介绍 {
  width: 100%;
  height: 650px;
  /* background-color: burlywood; */
  position: relative; /*相对定位*/
}

.箭头 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  /* background-color: #a68a64; */
  top: 50%;
  translate: 0 -50%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.左箭头 {
  left: 10px;
}

.右箭头 {
  right: 10px;
}

.箭头:hover {
  cursor: pointer;
}

.推荐咖啡图容器 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.咖啡介绍图 {
  width: 100%;
  height: 100%;
  position: absolute; /* 绝对定位 */
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s;
}

.咖啡介绍指示器 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 1;
}

.指示器 {
  width: 12.5px;
  height: 12.5px;
  border-radius: 20px;
  background-color: #fff5;
}

.主页面文本 {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  /* background-color: var(--绿色); */
}

.中文介绍文本 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  font-family: "Noto Serif SC", serif;
  /* background-color: var(--绿色); */
}

.英文介绍文本 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  font-family: "Dancing Script", cursive;
  /* font-family: "DM Serif Text", serif; */
  /* background-color: var(--绿色); */
}

.页脚 {
  width: 100%;
  height: 300px;
  background-color: rgb(32, 31, 31);
}

.页脚容器 {
  /* margin-top: 200px; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: var(--鼠尾草); */
}

.页脚列表 {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 45px;
  padding: 60px;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Passion One", sans-serif;
}
