*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --密封棕色: #582f0e;
  --赤褐色: #7f4f24;
  --生琥珀色: #936639;
  --狮子: #a68a64;
  --卡其: #b6ad90;
  --鼠尾草: #c2c5aa;
  --绿色: #656d4a;
  --乌木: #414833;
  --黑橄榄: #333d29;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    15deg,
    var(--密封棕色) 15%,
    var(--赤褐色) 85%
  );
}

.导航栏 {
  width: 100%;
  height: 50px;
  /* background-color: var(--密封棕色); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.导航栏-左 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 200px;
  /* background-color: aqua; */
}

.Logo图 {
  height: 75%;
  aspect-ratio: 1;
  /* background-color: rebeccapurple; */
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.标题文字 {
  height: 50%;
  width: 120px;
  font-size: 20px;
  color: #fff;
  font-family: 'Shrikhand', serif;
  /* background-color: rebeccapurple; */
}

.导航栏-右 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 750px;
  /* background-color: aqua; */
}

.超链接 {
  z-index: 3;
  position: relative;
  display: flex;
  /* background-color: blueviolet; */
}

.超链接 li {
  list-style: none;
  width: 120px;
  line-height: 40px;
  text-align: center;
}

.超链接 li a {
  color: white;
  text-decoration: none;
}

.滑块 {
  width: 100px;
  height: 40px;
  background-color: var(--密封棕色);
  border-radius: 4px;
  position: absolute;
  left: 368px;
  bottom: 0;
  z-index: -1;
  transition: all ease 0.6s;
  animation: 5s ease-in-out waves infinite;
}
li:nth-child(1):hover ~ .滑块 {
  left: 488px;
}
li:nth-child(2):hover ~ .滑块 {
  left: 128px;
}
li:nth-child(3):hover ~ .滑块 {
  left: 248px;
}
li:nth-child(4):hover ~ .滑块 {
  left: 368px;
}
li:nth-child(5):hover ~ .滑块 {
  left: 488px;
}
li:nth-child(6):hover ~ .滑块 {
  left: 616px;
}

@keyframes waves {
  from {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 4%,
      6% 9%,
      13% 13%,
      23% 15%,
      31% 16%,
      42% 15%,
      49% 13%,
      61% 10%,
      71% 5%,
      81% 3%,
      90% 2%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
  to {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
}

.页面1 {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

.背景1 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
}

.标签 {
  height: 150px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 30px;
  top: 70vh;
  left: 100px;
  /* background-color: wheat; */
}

.一级标签 {
  color: white;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Passion One", sans-serif;
  /* background-color: teal; */
}

.二级标签 {
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Passion One", sans-serif;
  /* background-color: teal; */
}

.标题{
  writing-mode:vertical-lr;
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Passion One", sans-serif;
}

.页面2 {
  height: 250vh;
  width: 100%;
  background-color: #1e1d21;
}

.加工图容器 {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.加工图 {
  height: 500px;
  width: 700px;
  border-radius: 5px;
}

.咖啡加工 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 45px;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Passion One", sans-serif;
  /* background-color: hotpink; */
}

.烘培图容器 {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* background-color: seagreen; */
}

.烘培图 {
  height: 400px;
  width: 650px;
  border-radius: 5px;
}

.咖啡烘培 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 45px;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Passion One", sans-serif;
  /* background-color: hotpink; */
}

.冲煮图容器 {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* background-color: seagreen; */
}

.咖啡冲煮图 {
  height: 400px;
  width: 650px;
  border-radius: 5px;
}

.咖啡冲煮 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 45px;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Passion One", sans-serif;
  /* background-color: hotpink; */
}

.页脚 {
  width: 100%;
  height: 300px;
  background-color: rgb(32, 31, 31);
}

.页脚容器 {
  /* margin-top: 200px; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: var(--鼠尾草); */
}

.页脚列表 {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 45px;
  padding: 60px;
  font-family: "Abril Fatface", serif;
  font-family: "Archivo Black", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Passion One", sans-serif;
}
